#board {
    align-items: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    top:100px;
    bottom:100px;
    left:100px;
    right: 100px;
    position: absolute;
    text-align: center;
    font-size: 200px;
    justify-content: center;
}
.equation {
    margin-bottom: 60px;
    transition-property: font-size;
    transition-duration: 0.4s;
}

.equation * {
    pointer-events: none;
}

.knobs {
    width: 500px;
    text-align: left;
    font-size: 20px;
}

.success .equation {
    font-size: 100px;
}

#options button.long {
    font-size: 60px;
}

#options button {
    vertical-align: top;
    font-size: 100px;
    width: 280px;
    height: 180px;
    margin: 5px 10px;
}
.hidden, #board.hidden {
    display: none;
}

#play {
    width: 500px;
    padding: 40px;
    font-size:200px;
}

.success #options {
    display: none;
}

#board:not(.success) #applause {
    display: none;
}

#applause{
    width: 600px;
}

#back-button {
    position: absolute;
    top: 40px;
    left: 40px;
}

#skip {
    width: 100%;
    height: 100%;
    position: absolute;
}

#board:not(.success) #skip {
    pointer-events: none;
}

#num1-hand, #num2-hand {
    width: 135px;
    height: 350px;
    background-position: 130px;
    background-size: 650px;
    background-image: url(hands.png);
    background-repeat: no-repeat;
    position: absolute;

    top: 0;
    transform: rotate(90deg);
}

#num2-hand {
    top: 140px;
    transform: scaleX(-1) rotate(270deg);
}

#num1-hand.finger-1, #num2-hand.finger-1 {
    background-position: 0;
}

#num1-hand.finger-2, #num2-hand.finger-2 {
  background-position: -115px;
}

#num1-hand.finger-3, #num2-hand.finger-3 {
    background-position: -242px;
}

#num1-hand.finger-4, #num2-hand.finger-4 {
    background-position: -377px;
}

#num1-hand.finger-5, #num2-hand.finger-5 {
    background-position: -500px;
}

.success #hands {
    display: none;
}